<div class="container">
  <div id="scene-container" class="threejs-container"></div>
  <div class="table-responsive">
    <table id="rankingTable">
      <thead>
        <tr>
          <th>Rang</th>
          <th>Algorithme</th>
          <th>Créateur</th>
          <th>Nombre de J'aime</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="rank">1</td>
          <td>Algorithme A</td>
          <td>Créateur X</td>
          <td>150</td>
        </tr>
        <tr>
          <td class="rank">2</td>
          <td>Algorithme B</td>
          <td>Créateur Y</td>
          <td>120</td>
        </tr>
        <tr>
          <td class="rank">3</td>
          <td>Algorithme C</td>
          <td>Créateur Z</td>
          <td>100</td>
        </tr>
        <tr>
          <td class="rank">4</td>
          <td>Algorithme D</td>
          <td>Créateur W</td>
          <td>90</td>
        </tr>
        <tr>
          <td class="rank">5</td>
          <td>Algorithme E</td>
          <td>Créateur V</td>
          <td>85</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
