<div class="container">
  <div id="scene-container" class="threejs-container"></div>
  <div class="table-responsive">
    <table id="rankingTable">
      <thead>
        <tr>
          <th>Rang</th>
          <th>Algorithme</th>
          <th>Créateur</th>
          <th>Nombre de J'aime</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let algo of algorithms">
          <td class="rank">{{ algo.rank }}</td>
          <td>{{ algo.name }}</td>
          <td>{{ algo.creator }}</td>
          <td>{{ algo.likes }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="estconnecter">
    <button >ajouter un algo</button>
  </div>

</div>
