<div class="container">
  <div id="scene-container" class="threejs-container"></div>
  <div class="table-responsive">
    <table id="rankingTable">
      <thead>
        <tr>
          <th>Rang</th>
          <th>Algorithme</th>
          <th>Créateur</th>
          <th>Nombre de J'aime</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let algo of algorithms">
          <td class="rank">{{ algo.rank }}</td>
          <td>{{ algo.name }}</td>
          <td>{{ algo.creator }}</td>
          <td>{{ algo.likes }}</td>
        </tr>
      </tbody>
    </table>
  </div>
<div *ngIf="estconnecter">
  <form (ngSubmit)="ajouterAlgo()" #algoForm="ngForm">
    <div>
      <label>Nom de l'algorithme :</label>
      <input type="text" name="name" [(ngModel)]="nouvelAlgo.name" required />
    </div>
    <button type="submit" [disabled]="!algoForm.form.valid">Ajouter un algo</button>
  </form>
</div>


</div>
