<H1> fridrich PLL</H1>
<div *ngFor="let container of containers; let i = index" class="container">
  <div class="column">
    <h2>Scène 3D {{ i + 1 }}</h2>
    <div id="container-{{ i }}" class="threejs-container" style="border: 2px solid black; height: calc(30vh - 60px);">
      <!-- Placeholder pour la scène 3D -->
    </div>
    <button (click)="playScene(i)">Lecture</button>
  </div>
  <div class="column">
    <h2>Algo Rubik's Cube {{ i + 1 }}</h2>
    <pre>RUFRUFRUF</pre>
  </div>
  <div class="column">
    <h2>Voir Plus {{ i + 1 }}</h2>
    <button (click)="voirPlus(i)">Voir Plus</button>
  </div>
</div>
