<div class="maintenance-wrapper">
  <div class="cube-icon">🧊</div>
  <h1>Page en travaux</h1>
  <p>Cette section est en cours de résolution… comme un Rubik’s Cube !</p>

  <div class="cube-grid">
    <div class="cube-color red"></div>
    <div class="cube-color green"></div>
    <div class="cube-color yellow"></div>
    <div class="cube-color blue"></div>
    <div class="cube-color white"></div>
    <div class="cube-color orange"></div>
  </div>

  <p class="info">Revenez plus tard pour voir le résultat final 🧩</p>
</div>
