<H1> fridrich OLL</H1>

<div *ngFor="let container of containers; let i = index" class="container">
  <div class="column">
    <h2> algo F2L {{ i + 1 }}</h2>
    <div id="container-{{ i }}" class="threejs-container" style="border: 2px solid black; height: calc(30vh - 60px);">
    </div>
    <button (click)="playScene(i)">play</button>
  </div>
  <div class="column">
    <h2>Algo Rubik's Cube {{ i + 1 }}</h2>
    <pre>{{algoOLL[i]}}</pre>
  </div>
  <div class="column">
    <h2>Voir Plus {{ i + 1 }}</h2>
    <button (click)="voirPlus(i)">Voir Plus</button>
  </div>
</div>
